@model List<BankAccount>
@{
    int accountIndex = 0;
    }
@{
    ViewData["Title"] = "Show";
}

    <table>
        <thead>
            <tr>
                <th>Account Holder</th>
                <th>Balance</th>
                <th>Animal Type</th>
                <th>Index Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in @Model)
            {
            <tr>
                <td>@account.Name</td>
                <td>@(Math.Round(account.Balance, 2)) Twigs</td>
                <td>@account.AnimalType</td>
                <td>@(accountIndex++)</td>
            </tr>
            }
        </tbody>
    </table>
