<h1>Welcome to Programmer Fox Club!</h1>

<p>Please provide a name, so you can associate it with your pet!</p>

<form method="post" action="/Login">
    <label for="name">Name</label>
    <input id="name" name="name" type="text"/>
    <button type="submit">GO</button>
</form>
