@model List<ShopItem>

@{
    ViewData["Title"] = "MyShop";
}

<body>
    <div class ='container'>
        <header>
            <a asp-controller="Shop" asp-action="Index"><h1>WebShop</h1></a>
        </header>
        <nav>
            <button type="button"><a asp-controller="Shop" asp-action="OnlyAvailable">ONLY AVAILABLE</a></button>
            <button type="button"><a asp-controller="Shop" asp-action="CheapestFirst">CHEAPEST FIRST</a></button>
            <button type="button"><a asp-controller="Shop" asp-action="ContainsNike">CONTAINS NIKE</a></button>
            <button type="button"><a asp-controller="Shop" asp-action="AverageStock">AVERAGE STOCK</a></button>
            <button type="button"><a asp-controller="Shop" asp-action="MostExpensiveAvailable">MOST EXPENSIVE AVAILABLE</a></button>
        </nav>
        <section>
            <form action="" method="POST">
                <label for="search">Search for:</label>
                <input id="search" name="search" type="text" placeholder="Type here ...">
                <button type="submit">SEARCH</button>
            </form>
        </section>
        <section>
            <h2>@ViewData["expensiveAvailable"] is the most expensive available item.</h2>
        </section>
    </div>
</body>
